{% extends "base_about.html" %}
{% load markup %}
   
{% block central_trunk %}   
<div id="h1_title"><h1>Aims and Values</h1></div>
	{% for about in about_list %}
		{%if about.subtitle %}<h2>{{ about.subtitle }}</h2>{%endif%}
		{{ about.content|markdown }}
	{% endfor %}
<!--    <h2>Why do we exist?</h2><br />
      We exist to glorify God by:<br />
      &#8226; Expanding gospel ministry in the East of Scotland; <br />
      &#8226; Encouraging Bible believing evangelicals to contend for Biblical Christianity <br />
      &#8226; Promoting co operation between gospel churches<br />
       <br />
    <h2> How do we aim to achieve this?</h2>
     <p><br />
      We seek to do this by:<br />
     &#8226;  Multiplying congregations/fellowships; <br />
      &#8226; Promoting apprenticeship schemes;<br />
      &#8226; Sending people into gospel ministry;<br />
     &#8226; Providing a network of support for gospel churches in the East of Scotland through training for evangelism, church planting and gospel ministry;</p>
 <p><br />
       <br />
     </p>
    <h2> What difference will this make?</h2>
     <p><br />
      In Jan 2010 we set ourselves five-year goals which include:<br />
      &#8226; starting 5 congregations/fellowships from within our partnership;<br />
     &#8226; training 20 men and women through a ministry apprenticeship scheme <br />
      &#8226; enabling the establishment of a suitable full time ministry training course in the East of Scotland<br />
      &#8226; sending 15 men and women into gospel ministry <br />
      &#8226; a regular programme of events that provide information, support, fellowship and training across the region.<br />
       <br />
     We do not wish to undermine good things going on in our region or encourage people to think in a separatist way, but we do want to encourage those with opportunity to be involved in promoting gospel ministry and providing support for that process</p>
     <p><br />
    or</p>
     <p><br />
       We are committed to growing gospel ministry by:<br />
       &#8226; Strengthening existing local churches as we renew our gospel vision and Biblical foundations<br />
       &#8226; Training members of existing congregations for a wide range of gospel ministries in the local church<br />
       &#8226; Encouraging suitable gifted men and women to consider going into full time gospel ministry<br />
       &#8226; Promoting schemes for ministry trainees (apprentices)<br />
       &#8226; Starting congregations in areas where gospel ministry is weak or non-existent:<br />
       &#8226; arranging regular opportunities for Church leaders to meet for mutual support, encouragement, prayer, and ongoing ministry training</p>
     </p>
    <h2>&nbsp;</h2>-->
{% endblock %}	
