{% extends "base.html" %}
{% load markup %}

{% block central_trunk %}
<div id="h1_title"><h1>Apprenticeships</h1></div>
	{% for paragraph in apprenticeship_list %}
		{% if paragraph.subtitle %}<h2>{{ paragraph.subtitle }}</h2>{%endif%}
		{{ paragraph.content|markdown }}
	{% endfor %}
    		<!--<p>There is a great need for people to be going into full-time paid gospel ministry. Apprentice schemes offer a unique opportunity for individuals to commit themselves to learning about gospel ministry as a part of a local congregation.<br />
     			<br />
    			<h2>Is it for me?</h2><br />
      			It may be, if you eagerly desire to serve Jesus, want to learn how to teach God's word better and get some practical experience of teaching the Bible into people's lives as a part of a local church family.<br />
      			<br />
      			Whether you end up in full time ministry or not your time as an apprentice will equip you for life.  Do ask the advice of your church leader who knows you as you consider this.<br />
			<br />
    			<h2>Apprenticeships currently on offer:</h2>
            		St Catherines Argyle - from September 2011<br />
      			<br />
      			As a church we want to equip more and more people to serve Jesus. The biggest formal part of this training vision is our Ministry Associate Programme. For one or two years, people come and serve here, receiving training, leading ministry and serving practically. This provides a wonderful opportunity to grow in maturity and competence. It can also help individuals to think through whether full-time Gospel ministry might be a good fit for them in the longer term. [more...]<br />
			<br />
      			Charlotte Baptist Chapel - from September 2011 (TBC)
			<p>&nbsp;</p>-->
{% endblock %}
 
