<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>EoSGP Home</title>
<link rel="stylesheet" href="/static/style.css" />
<link rel="stylesheet" href="/static/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/custom-nivo-slider.css" type="text/css" media="screen" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="/static/jquery.nivo.slider.pack.js" type="text/javascript"></script>
<script type="text/javascript">
$(window).load(function() {
	$('#slider').nivoSlider({
		effect:'random', //Specify sets like: 'fold,fade,sliceDown'
		slices:15,
		animSpeed:500, //Slide transition speed
		pauseTime:5000,
});
});
</script>
<style type="text/css"> 



<!-- 

--> 
</style><!--[if IE]>
<style type="text/css"> 
/* place css fixes for all versions of IE in this conditional comment */
.thrColElsHdr #sidebar1, .thrColElsHdr #sidebar2 { padding-top: 30px; }
.thrColElsHdr #mainContent { zoom: 1; padding-top: 15px; }
/* the above proprietary zoom property gives IE the hasLayout it needs to avoid several bugs */
</style>
<![endif]--></head>

<body class="thrColElsHdr">

<div id="container">
  <div id="header">
    <h1><img src="/static/logo3_clear_orange.png" alt="" height=150px /></h1>
    
  <!-- end #header --></div>

  <div id="sidebar2">
    <div id="latest_news"><img src="/static/latest_news_orange.png" alt="" width="170px" />
		{% if latest_news_shout %}
			{% for shout in latest_news_shout %}
				{% if shout.subtitle %}
					<h4>{{ shout.subtitle }}</h4>
				{% endif %}
				<p>{{ shout.content }}</p>
			{% endfor %}
		{% endif %}
		
      	{% if next_event %}
			<h4>Next Event</h4> 
			<p>{{ next_event }}<br />
			{{ next_event.datetime|date:"j b Y" }}</p>
		{% endif %}

    	{% if book_of_the_month %}
			<h4>Book of the month</h4>
			<p>{{ book_of_the_month.title }}<br />
			<img src="{{ book_of_the_month.cover_image.url }}" width="170px" /></p>
		{% endif %}
	</p>
    </div>
  <!-- end #sidebar2 --></div>
  <div id="sidebar1"><img src="/static/menu_orange.png" alt="" width="170px" />
    <div class="menu"><a href="/home/">Home</a></div>
    <div class="menu"><a href="/about/">About</a></div>
		{% block about_subs %}{% endblock %}
    <div class="menu"><a href="/partners/">Partners</a></div>
    <div class="menu"><a href="/events/">Events</a></div>
     <div class="menu"><a href="/apprenticeships/">Apprenticeships</a></div>
    <div class="menu"><a href="/resources/">Resources</a></div>
		{% block resources_subs %}{% endblock %}
     <div class="menu"><a href="/links/">Links</a></div>
    <div class="menu"><a href="/contact/">Contact/sign-up</a></div>
		{% block sidebar1_extra %}{% endblock %}
  <!-- end #sidebar1 --></div>
  <div id="mainContent">
		{% block central_trunk %}{% endblock %}
<!-- end #mainContent --></div>
	<!-- This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats --><br class="clearfloat" />
   <div id="footer">
    <div id="footer_address"></div>
        <div id="seetopho">&copy; East of Scotland Gospel Partnership 2010<br />
							site designed by SeetoPhotography<br />
							www.seetophotography.co.uk</div>
  <!-- end #footer --></div>
<!-- end #container --></div>
</body>
</html>
