{% extends "base.html" %}
{% load markup %}

{% block central_trunk %}
<div id="h1_title"><h1>Partners</h1></div>
    	{% for blurb in partners_blurb %}
		{% if blurb.subtitle %}<h2>{{ blurb.subtitle }}</h2>{%endif%}
		{{ blurb.content|markdown }}
	{% endfor %}	

	<ul style="list-style-type: none;">
	{% for partner in partner_list %}
		<li style="padding: 10px;">	
			<strong>{{ partner.name }}</strong><br />
			{{ partner.address }}<br />
			{{ partner.town }}<br />
			{{ partner.postcode }}<br />
			<em>Tel: </em>{{ partner.telephone }}<br />
			<em>E-mail: </em>{{ partner.email }}<br />
		</li>
	{% endfor %}
	</ul>
<!--<h2>Member Churches</h2>
    		<p>Charlotte Baptist Chapel<br />
      		204 Rose Street<br />
      		Edinburgh<br />
      		EH2 4AZ<br />
    		tel: 0131 225 4812<br />
    		email: 
    		info@charlottechapel.org<br /><br />
      		Carrubbers Christian Center<br />
      		65 High Street<br />
      		Edinburgh<br />
      		EH1 1SR<br />
      		tel: 0131 556 2626<br />
      		email:
      		office@carrubbers.org<br /><br />
      		St Catherine’s Argyle Church<br />
      		61-63 Grange Road<br />
      		EDINBURGH<br />
      		EH9 1TY<br />
      		tel: 0131 667 7220<br />
      		email: fiona@stcaths.org<br /><br />
      		New Restalrig<br />
      		1a Willowbrae Road<br />
		Edinburgh,<br />
		EH8 7EZ<br /><br />
      		St Columba's Free Church<br />
      		1 JohnstonTerrace,<br />
		Edinburgh <br />
		EH1 2PW <br />
		tel: 0131 225 3505<br />
		email: office@stcolumbas.info
		<br /><br />
      		Niddrie Community Church<br />
      		12 Hay Drive<br />
      		Edinburgh<br />
      		EH16 4RY<br />
      		tel: 0131 669 9400
      		<br />
      		email: admin@niddrie.org
      		<br /><br />
    		</p>-->
{% endblock %}
