{% extends "base.html" %}

{% block resources_subs %}
	<div id="submenu"><a href="/resources/audio/">Audio</a></div>
        <div id="submenu"><a href="/resources/video/">Video</a></div>
        <div id="submenu"><a href="/resources/literature/">Literature</a></div>
{% endblock %} 
  
{% block central_trunk %}
<div id="h1_title">
    <h1>Resources</h1></div><br />
	<p>Three subpages</p>
	<p>Audio</p>
	<p>Visual</p>
	<p>Literature</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
{% endblock %}
